:root {
  --section-padding-inline: 4%;
  --section-margin-top: 7.5rem;
}
.section {
  margin-inline: auto;
  max-width: 90rem;
  &:not(.header) {
    padding-inline: clamp(1rem, var(--section-padding-inline), 10.3125rem);
    margin-top: var(--section-margin-top);
  }
  &--dark {
    background: $c-almost-black;
    color: $c-white;
  }
  &--orange {
    background: $c-gold;
    color: $c-almost-black;
  }
}
.flex {
  display: flex;
}
.row {
  flex-wrap: wrap;
}
.column {
  flex: 1 1 auto;
}
.hero {
  flex-direction: column;
  align-items: center;
  gap: 2rem 0;
  position: relative;
  &__image {
    width: 100%;
  }
  &__info {
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;
      padding-inline: clamp(1rem, var(--section-padding-inline), 10.3125rem);
    }
    &__subwrapper {
      flex-direction: column;
      gap: 2rem;
    }
  }
}
.section-1 {
  &__row-1 {
    align-items: center;
    flex-direction: row-reverse;
  }
  &__row-2 {
    align-items: stretch;
    margin-top: 1rem;
  }
  &__row-3 {
    flex-direction: column;
  }
  &__row-1,
  &__row-2,
  &__row-3 {
    gap: 1rem;
  }
  &__column-big {
    flex-basis: 20rem;
  }
  &__column-small {
    flex-basis: 12.5rem;
  }
  &__info-1 {
    margin-block: 0.5625rem 1rem;
  }
  &__info-2 {
    padding: 3rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    background: $c-almost-black;
    flex-grow: 1;
  }
}
.section-info {
  &__text {
    margin-top: 1.5rem;
  }
}

.footer {
  &__wrapper {
    padding: 3rem 1rem;
    align-items: start;
    gap: 2.375rem 4.0625rem;
  }
  &__logo {
    width: 6.9375rem;
    flex: 0 0 auto;
  }
  &__text {
    flex-basis: 17.5rem;
    margin-right: auto;
  }
  &__social {
    flex: 0 0 auto;
    width: fit-content;
    align-items: center;
    gap: 1.25rem;
    &__item {
      color: inherit;
    }
  }
}



//------------------------------
.section-map{
  width: 100%;
}
#map{
  width: 100%;
  height: 600px;
}