@media (min-width: 37.5rem) {
  :root {
    --section-padding-inline: 5.2%;
  }
  .hero {
    flex-direction: row;
    &__info {
      width: 68%;
      &__wrapper{
        position: absolute;
        width: 55%;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        gap: 3rem;
      }
      &__subwrapper {
        gap: 3rem;
      }
    }
  }
  .section-1 {
    &__row-1,
    &__row-2,
    &__row-3 {
      gap: 0.6875rem;
    }
    &__row-2 {
      margin-top: 0.6875rem;
    }
    &__column-small {
      max-width: 27.8125rem;
    }
    &__info-1 {
      padding-right: 8%;
    }
  }
  .footer {
    &__wrapper {
      padding: 3.5rem 0rem;
    }
    &__text {
      max-width: 38%;
    }
  }
  //---------------
  .heading {
    &--hero {
      font-size: 4.375rem;
    }
  }
}
