@media (min-width: 62.5rem) {
  :root {
    --section-padding-inline: 11.5%;
    --section-margin-top: 11.25rem;
  }
  .hero {
  }
  .section-1 {
    &__info-2 {
      padding-inline: 3rem;
    }
  }
  //---------------
  .heading {
    &--hero {
      font-size: 6rem;
    }
    &--section {
      font-size: 3.75rem;
      line-height: 1;
    }
  }
  .paragraph {
    line-height: 1.45;
    font-size: 1.375rem;
    &--footer {
      font-size: 1.125rem;
      line-height: 1.56;
    }
  }
}
