@media (min-width: 37.5rem) {
  :root {
    --section-padding-inline: 5.2%;
  }
  .hero {
  &__info {
    padding: 0;
    gap: 3rem;
    right: var(--section-padding-inline);
  }
}
  .section-1 {
    &__row-1,
    &__row-2,
    &__row-3 {
      gap: 0.6875rem;
    }
    &__info-1{
        padding-right: 6%;
    }
  }
  .footer {
    &__wrapper {
      padding: 3.5rem 0rem;
    }
    &__text {
      max-width: 38%;
    }
  }
//---------------
.heading {
    &--hero {
      font-size: 4.375rem;
      line-height: .92;
    }
  }
}
