@media (min-width: 37.5rem) {
  :root {
    --section-padding-inline: 5.2%;
  }
  .hero {
    flex-direction: row;
    &__info {
      width: 68%;
      &__wrapper {
        position: absolute;
        width: 55%;
        height: 100%;
        right: 0;
        top: 0;
        gap: 3rem;
      }
      &__subwrapper {
        gap: 3rem;
      }
    }
  }
  .section-grid {
    gap: 0.6875rem;
    &__column-small {
      max-width: 27.8125rem;
    }
  }
  .section-location{
    padding-block: 5.5rem 5rem;
    &__title{
      max-width: min-content;
    }
    &__info{
      max-width: 600px;
      width: 600px;
      
    }
  }
  .section-info {
    &--big {
      padding-right: 8%;
    }
  }
  .footer {
    &__wrapper {
      padding: 3.5rem 0rem;
    }
    &__text {
      max-width: 38%;
    }
  }
  //---------------
  .h {
    &-hero-title {
      font-size: 4.375rem;
    }
  }
}
