@media (hover: hover) {
  .button:hover {
    background: $c-gold;
    &::after {
      background: $c-almost-black;
    }
  }
  .section--dark .footer__social__item:hover{
    color: $c-gold;
  }
  .section--orange .footer__social__item:hover{
    color: $c-white;
  }
}
