@media (hover: hover) {
  .button:hover {
    background-size: 100% 100%;
    transition: background-size 0.5s 0.3s;
    &::after {
      background-size: 100% 100%;
      transition: background-size 0.3s ;
    }
  }
  .color--light .footer__social__item:hover {
    color: $c-gold;
  }
  .color--dark .footer__social__item:hover {
    color: $c-white;
  }
}
